.hide{
  display: none;
}
/* DROPDOWN STYLE */
.dropdown{
  background-color: #9fb4c7;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  text-align: left;
  border: none;
  outline: none;
  position: relative;
  border-radius: 2px;
  transition: 0.6s;
}
li{
  list-style-type: none;
  margin: 0 auto;
  width: 70%;
}
.active, .dropdown:hover{
  background-color: #003256;
  box-shadow: 5px 0px 30px #888888;
}
.panel{
  padding: 0 18px;
  display: none;
  background-color: white;
  position: relative;
}
.panel p{
  padding: 8px;
  margin: 0;
}
.more-info{
  padding: 8px;
}
/*OVERLAY*/
.overlay {  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
/*Overlay Button*/
.player-info{
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
  height: 30px;
  width: 50px;
}
.player-info:hover{
  background-color: #9fb4c7;
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%; 
  text-align: center; 
  margin-top: 20px;
  color: #F2F7FB; 
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*NAVIGATION SLIDE*/
#mynav{
  width: 0%;
  color: #ccc;
}
#myNav a{
  text-decoration: none;
}
.displayOverlay{
  width: 100%;
}
.content-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.content-flex p{
  border: 2px solid white;
  border-radius: 2px;
  padding: 20px;
  margin: 20px;
}
.content-flex p:hover{
  border-color: #9fb4c7;
  color: #9fb4c7;
}
p[data-tool-tip]{
  position: relative;
}

p[data-tool-tip]::after{
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: aliceblue;
  padding: 1em 2em;
  color: black;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}
p[data-tool-tip]:hover::after{
  transform: scale(1);
  bottom: 100%;
}
/*Header*/
.header-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003256;
  color: #F2F7FB;
  padding: 10px;
}
/*INPUT*/
input[type=text] {
  border: 2px solid #F2F7FB;
  border-radius: 4px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 25px;
  font-weight: 600;
}
input[type=text]:focus {
  border: 3px solid #9fb4c7 ;
}
input[type=submit]{
  height: 30px;
  width: 85px;
  font-size: 15px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: 0.3s;
  vertical-align: -3px;
}
input[type=submit]:hover{
  background-color: #9fb4c7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*FOR DESKTOP*/
@media all and (min-width: 700px){
  .header-box{
    flex-direction: row;
  }
  .container{
    right: 25%;
  }
  .search-flex-box{
  padding-left: 30px;
  }
  .dropdown{
    padding: 15px;
    text-align: left;
  }
  .response-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*BACKGROUND*/
body{
background-color: #F2F7FB ;
}

.response-title h2{
  color: #003256;
}
/*Fonts*/
h1, h2, h3{
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
button{
font-family: 'Oswald', sans-serif;
font-size: 20px;
}
.no-stats{
  font-size: 40px;
}