.hide{
  display: none;
}
/* DROPDOWN STYLE */
.dropdown{
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
}
.active, .dropdown:hover{
  background-color: #ccc;
}
.panel{
  padding: 0 18px;
  display: none;
  background-color: white;
}
.overlay {  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%; 
  text-align: center; 
  margin-top: 20px; 
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*Header position*/
.header-box{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
@media all and (min-width: 700px){
  .header-box{
    flex-direction: row;
    align-content: space-between;
  }
  .search-flex-box{
  padding-left: 20px;
  padding-top: 2.2%;
  }
}

#mynav{
  width: 0%;
}
.displayOverlay{
  width: 100%;
}
#myNav{
  color: #ccc;
}

