.hide{
    display: none;
}
/* DROPDOWN STYLE */
.dropdown{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
}

.active, .dropdown:hover{
    background-color: #ccc;
}

.panel{
    padding: 0 18px;
    display: none;
    background-color: white;
}